[Desktop Entry]
Name=VICE C128 emulator
Name[pl]=Emulator C128 VICE
Icon=c128icon
Exec=x128
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Utility;Emulator;
# vi: encoding=utf-8
