[Desktop Entry]
Name=VICE PET emulator
Name[pl]=Emulator PET VICE
Icon=peticon
Exec=xpet
Terminal=false
Type=Application
Categories=Utility;Emulator;
# vi: encoding=utf-8
